@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

.openMenu li  .active {
  border-bottom: 1px solid #aaa;
}

.title {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
}

nav {
  width: 100%;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  position: absolute;
  margin: auto;
  z-index: 99999;
  top: 0;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  width: 500px;
  gap: 20px;
  align-items: center;
  margin: 0;
  backdrop-filter: blur(100px); 
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  gap: 8px;
  font: 400 18px "Barlow Condensed";
  position: relative;
  text-transform: uppercase;
}

.menuOpen.active {
  border-bottom: 1px solid #aaa;
}

nav .menu {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.menu span {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.menu.open span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.menu.open span:last-child {
  transform: translateY(-5px) rotate(-45deg);
}

.menu.open span:nth-child(2) {
  opacity: 0;
}

@media (max-width: 768px) {
  nav .menu {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0.75rem;
    margin-right: 0.5rem;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }

  nav ul.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  nav ul.open span {
    display: inline;
  }

  nav .menu {
    display: flex;
  }
}
